* {
    box-sizing: border-box;
    margin:0px;
}

header{
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: Fantasy, Arial, Helvetica, sans-serif;
    background-color: skyblue;
    border-radius: 13px;
    margin: 9px;
    padding: 15px;
}

.menu{
    list-style: none;
    display:flex;
    margin-top: 9px;
}

.menu_item{
    width: 5%;
    display: block;
    margin: auto;
    background-color: orange;
    border-radius: 39px;
}

.menu_item:hover{
    background-color: rgb(102, 89, 64);
    cursor: pointer;
}

.sec{
    display: grid;
    grid-template-columns: 30% 70%;
}

.side-bar{
    background-color: rgb(102, 89, 64);
    height:588px;
    margin:10px;
    padding: 25px;
    border: 3px solid rgb(73, 157, 190);
    display: grid;
    grid-template-columns: 31% 68%;
}

.links{
    list-style: none;
    display: block;
    width: 20%;
}

.art{
    position: relative;
    background-color: chocolate;
}

.images{
    width: 21%;
    z-index: 1;
}

.container:hover .images{
    border: 1px solid skyblue;
    width: 31%;
    z-index: 2;
    cursor: pointer;
}

#img1{
    position: absolute;
    top: 59px;
    left: 100px;
}

#img2{
    position: absolute;
    top: 124px;
    left: 259px;
}
#img3{
    position: absolute;
    top: 233px;
    left: 253px;
}

#img4{
    width: 26%;
    position: absolute;
    top: 162px;
    left: 68px;
}
#img5{
    position: absolute;
    top: 180px;
    left: 452px;
}